<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target xsi:type="File" name="f" encoding="utf-8" archiveEvery="Minute" fileName="${basedir}/log/${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
    <target xsi:type="Console" name="c" encoding="utf-8" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="f" />
    <logger name="*" minlevel="Trace" writeTo="c" />
  </rules>
</nlog>